{% extends 'HFBundle::layout.html.twig' %}

{% block title %}Customer Registration - Hungry First{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #camera-result {
            width: 320px;
            height: 320px;
        }
        #camera-result img {
            width: 320px;
        }
        #camera-display {
            position: absolute;
            top: 23px;
            left: 20px
        }
        #camera-display video { 
            width: 150px !important;
            height: 150px !important;
        }
    </style>
{% endblock %}

{% block scripts %}
    {{ parent() }}
     <script src="{{ asset('res/js/webcam.min.js') }}"></script>
     
     <script language="JavaScript">
        Webcam.set({
            width: 320,
            height: 320,
            image_format: 'jpeg',
            jpeg_quality: 90,
            force_flash: false,
            flip_horiz: false
        });
        Webcam.attach('#camera-display');

        function take_snapshot() {
            console.log('derp');
            Webcam.snap( function(data_uri) {
                $('#camera-result img').attr('src', data_uri);
                var raw_image_data = data_uri.replace(/^data\:image\/\w+\;base64\,/, '');
                document.getElementById('CustomerType_rawPhoto').value = raw_image_data;
            } );
            
        } 
        
    </script>
{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">{{ flashMessage }}</div>
    {% endfor %}
    <div class="container-fluid">
        <div class="panel panel-primary register_form">
            <div class="panel-heading">
                Customer Registration
                <a href="{%- if customer is defined -%}
                        {{ path('hf_customer', {'id': customer.id}) }}
                   {%- else -%}
                        javascript:history.back(-1)
                   {%- endif -%}" class="btn btn-info pull-right">Back</a>
                <div class="clearfix"></div>
                
            </div>
            <div class="panel-body">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                    {{ form_errors(form) }} 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        {{ form_row(form.id) }}
                        {{ form_row(form.address) }}
                        {{ form_row(form.phoneNumber) }}
                        
                        {{ form_row(form.description) }}
                        {{ form_row(form.requestedItems) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.firstName) }}
                        {{ form_row(form.lastName) }}
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.householdSize) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.childrenInHousehold) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.homeless) }}
                                {{ form_row(form.foodStamps) }}
                                {{ form_row(form.socialSecurity) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.familyFirst) }}
                                {{ form_row(form.enegryProgram) }}
                                {{ form_row(form.publicHousing) }}
                            </div>
                        </div>
                        {% if is_granted('ROLE_ADMIN') %}
                            {{ form_row(form.probationEndDate) }}
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        <a href="javascript:void(take_snapshot())" class="btn btn-default btn-block">Take Snapshot</a>
                        
                        <!-- display the webcam inside of the result -->
                        <div id="camera-result">
                            {% if (customer.photo.webPath is defined) %}
                                <img class="img-responsive img-thumbnail" src="{{ asset(customer.photo.webPath) }}">
                            {% else %}
                                <img class="img-thumbnail" src="{{ asset('res/images/blank_person.png') }}">
                            {% endif %} 
                            <div id="camera-display"></div>
                        </div>
                        {{ form_row(form.rawPhoto) }}
                       
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(form.submit, {'attr': {'class': 'btn btn-primary'} }) }}
                    </div>
                </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{# empty Twig template #}
