
{# render search bar! #}
{{ render(controller('HFBundle:Customer:searchBar',{'query': query} )) }} 
        
<div class="panel panel-primary">
    <div class="panel-heading">
        Customers
        <span class="pull-right">
            <a href="{{ path('hf_customer_create') }}" class="btn btn-success">Add</a>
        </span>
        <div class="clearfix"></div>
    </div>
    <table class="table table-hover table-striped customer-listing">
        <tr>
            <th>
                <span class="glyphicon glyphicon-picture"></span>
                Photo
            </th>
            <th>
                <span class="glyphicon">#</span>
                ID
            </th>
            <th>
                <span class="glyphicon glyphicon-user"></span>
                First & Last Name
            </th>
            <th>
                <span class="glyphicon glyphicon-road"></span>
                Address
            </th>
            <th>
                <span class="glyphicon glyphicon-phone-alt"></span>
                Phone Number
            </th>
            <th>
                <span class="glyphicon glyphicon-wrench"></span>
                Actions
            </th>
        </tr>
        {% set alreadyExist = false %}
        {% for customer in customers %}
            {% spaceless %}
                <tr
                {% if (query.id == customer.id) or
                        ((query.firstName|lower == customer.firstName|lower) and
                            (query.lastName|lower == customer.lastName|lower)) or
                        (query.address|lower == customer.address|lower) or
                        (query.phoneNumber|replace({'-':''}) == customer.phoneNumber|replace({'-':''}))
                %}
                    {% if alreadyExist %}
                        class="danger"
                    {% else %}
                        class="success"
                        {% set alreadyExist = true %}
                    {% endif %}
                {% endif %}
            {% endspaceless%}>
                <td>
                    <img class="img-thumbnail" src="http://www.soothetube.com/wp-content/uploads/2012/05/Bob-Ross2.jpg">
                </td>
                <td>{{ customer.id }}</td>
                <td>{{ customer.firstName }} {{ customer.lastName }}</td>
                <td>{{ customer.address }}</td>
                <td>{{ customer.phoneNumber|phone }}</td>
                <td>
                    <a class="btn btn-sm btn-default">View</a>
                    <a class="btn btn-sm btn-default">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">
                    <div class="alert alert-warning">
                        Sorry, there are no customers to be displayed.
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>

    {% if pages > 1 %}
        <div class="panel-footer">
            <div class="text-center">
                <ul class="pagination pagination-panel">

                    {% for i in 1..pages %}
                        {% if i == 1 and i == page %}
                            <li class="disabled"><a>&laquo;</a></li>
                        {% elseif i == 1 %}
                            <li><a href="{{ path('hf_homepage', query|merge({'page': (page-1)})) }}">&laquo;</a></li>
                        {% endif %}

                        {% if i == page %}
                            <li class="active"><a>{{ i }} <span class="sr-only">(current)</span></a></li>
                        {% else %}
                            <li><a href="{{ path('hf_homepage', query|merge({'page': i})) }}">{{ i }}</a></li>
                        {% endif %}

                        {% if i == page and page == pages %}
                            <li class="disabled"><a>&raquo;</a></li>
                        {% elseif i == pages %}
                            <li><a href="{{ path('hf_homepage', query|merge({'page': (page+1)})) }}">&raquo;</a></li>
                        {% endif %}

                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
</div>

