<div class="row customer-listing">
    <div class="col-md-2">
        <img class="img-responsive img-thumbnail" src="http://www.soothetube.com/wp-content/uploads/2012/05/Bob-Ross2.jpg">
    </div>
    <div class="col-md-2">{{customer.id}}</div>
    <div class="col-md-2">{{customer.firstName}} {{ customer.lastName }}</div>
    <div class="col-md-2">{{customer.address}}</div>
    <div class="col-md-2">{{customer.phoneNumber}}</div>
</div>


{#

<th>
<span class="glyphicon glyphicon-bed"></span>
Homeless
</th>
<th>
<span class="glyphicon glyphicon-grain"></span>
Foodstamps
</th>
<th>
<span class="glyphicon glyphicon-lock"></span>
Social Security
</th>
<th>
Family First
</th>
<th>
<span class="glyphicon glyphicon-flash"></span>
Enegry Program
</th>
<th>
<span class="glyphicon glyphicon-home"></span>
Public Housing
</th>
                    
#}